<div>
    <h1>Login Form</h1>
    <label for="Email"><b>Email</b></label>
    <input type="text" placeholder="email" required>
    <br/>
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Password" required>
    <br>
    <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
      </label>
      <br>
    <div class="button">
        <button type="submit">submit</button>
        <button type="reset">reset</button>
    </div>
    </div>