div{
    text-align: center;
}
label{
    display: inline-block;
    margin-bottom: 20px;
    text-align: left;
    width: 150px;
}
button
{
    display: inline-block;
    margin-left: 35px;
    margin-right: 35px;
}