<div>
    <form action="action_page.php" style="border:1px solid #ccc">
        <div class="container">
          <h1>Register account</h1>
         
          
        <label for="name"><b>Name</b></label>
        <input type="name" placeholder="name" name="name" required>
    <br>
          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email" required>
      <br>
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
      
      <br>
          <label>
            <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
          </label>
      
         
      
          <div class="clearfix">
            <button type="button" class="cancelbtn">reset</button>
            <button type="submit" class="signupbtn">Submit</button>
          </div>
        </div>
      </form>
    </div>